.password-form {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  margin: 1.5em 0;
  width: 100%;
}

.password-form__line {
  display: flex;
  height: 3em;
  align-items: center;
}

.password-form__line-name {
  display: flex;
  width: 150px;
  font-size: 1.2em;
  font-weight: 500;
}

.password-form__input {
  width: 100%;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  background-color: #eceff1;
  color: #212121;
}

.password-form__input:hover {
  outline: 1px solid #cfd8dc;
}

.password-form__line-value {
  width: calc(100% - 150px);
}