.password-form {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  margin: 1.5em 0;
  width: 100%;
}

.password-form__line {
  display: flex;
  height: 3em;
  align-items: center;
}

.password-form__line-name {
  display: flex;
  width: 150px;
  font-size: 1.2em;
  font-weight: 500;
}

.password-form__input {
  width: 100%;
  padding: 12px 25px 12px 20px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  background-color: #eceff1;
  color: #212121;
}

.password-form__input[type=password] {
  font-family: inherit;
  letter-spacing: 3px;
}

.password-form__input:hover {
  outline: 1px solid #cfd8dc;
}

.password-form__line-value {
  position: relative;
  width: calc(100% - 150px);
}

.password-form__eye {
  position: absolute;
  display: flex;
  align-items: center;
  height: 16px;
  width: 16px;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  background-color: transparent;
  background-image: url('/assets/svg/open-eye.svg');
  border: 0;
  outline: 0;
  cursor: pointer;
}

.password-form__eye_closed {
  background-image: url('/assets/svg/closed-eye.svg');
}

.password-form__eye:focus-visible {
  border-radius: 20%;
  outline: 1px solid #cfd8dc;
}