<form class="password-form" [formGroup]="loginForm" autocomplete="off">
  <div class="password-form__line">
    <label class="password-form__line-name" for="password">Password</label>
    <div class="password-form__line-value"><input class="password-form__input" type="password" id="password"
        formControlName="password" (input)="onInputChange()" autocomplete="new-password"></div>

  </div>

  <div class="password-form__line">
    <div class="password-form__line-name">Strength</div>
    <div class="password-form__line-value"><app-password-indicator
        [strength]="passwordStrength"></app-password-indicator></div>
  </div>

</form>